@media screen and (min-width: 1920px) {
  html {
    font-size: 30px;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 30px;
  }
}
@media screen and (max-width: 1907px) {
  html {
    font-size: 29.82px;
  }
}
@media screen and (max-width: 1894px) {
  html {
    font-size: 29.64px;
  }
}
@media screen and (max-width: 1882px) {
  html {
    font-size: 29.46px;
  }
}
@media screen and (max-width: 1869px) {
  html {
    font-size: 29.28px;
  }
}
@media screen and (max-width: 1856px) {
  html {
    font-size: 29.1px;
  }
}
@media screen and (max-width: 1843px) {
  html {
    font-size: 28.92px;
  }
}
@media screen and (max-width: 1830px) {
  html {
    font-size: 28.74px;
  }
}
@media screen and (max-width: 1818px) {
  html {
    font-size: 28.56px;
  }
}
@media screen and (max-width: 1805px) {
  html {
    font-size: 28.38px;
  }
}
@media screen and (max-width: 1792px) {
  html {
    font-size: 28.2px;
  }
}
@media screen and (max-width: 1779px) {
  html {
    font-size: 28.02px;
  }
}
@media screen and (max-width: 1766px) {
  html {
    font-size: 27.84px;
  }
}
@media screen and (max-width: 1754px) {
  html {
    font-size: 27.66px;
  }
}
@media screen and (max-width: 1741px) {
  html {
    font-size: 27.48px;
  }
}
@media screen and (max-width: 1728px) {
  html {
    font-size: 27.3px;
  }
}
@media screen and (max-width: 1715px) {
  html {
    font-size: 27.12px;
  }
}
@media screen and (max-width: 1702px) {
  html {
    font-size: 26.94px;
  }
}
@media screen and (max-width: 1690px) {
  html {
    font-size: 26.76px;
  }
}
@media screen and (max-width: 1677px) {
  html {
    font-size: 26.58px;
  }
}
@media screen and (max-width: 1664px) {
  html {
    font-size: 26.4px;
  }
}
@media screen and (max-width: 1651px) {
  html {
    font-size: 26.22px;
  }
}
@media screen and (max-width: 1638px) {
  html {
    font-size: 26.04px;
  }
}
@media screen and (max-width: 1626px) {
  html {
    font-size: 25.86px;
  }
}
@media screen and (max-width: 1613px) {
  html {
    font-size: 25.68px;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 25.5px;
  }
}
@media screen and (max-width: 1587px) {
  html {
    font-size: 25.32px;
  }
}
@media screen and (max-width: 1574px) {
  html {
    font-size: 25.14px;
  }
}
@media screen and (max-width: 1562px) {
  html {
    font-size: 24.96px;
  }
}
@media screen and (max-width: 1549px) {
  html {
    font-size: 24.78px;
  }
}
@media screen and (max-width: 1536px) {
  html {
    font-size: 24.6px;
  }
}
@media screen and (max-width: 1523px) {
  html {
    font-size: 24.42px;
  }
}
@media screen and (max-width: 1510px) {
  html {
    font-size: 24.24px;
  }
}
@media screen and (max-width: 1498px) {
  html {
    font-size: 24.06px;
  }
}
@media screen and (max-width: 1485px) {
  html {
    font-size: 23.88px;
  }
}
@media screen and (max-width: 1472px) {
  html {
    font-size: 23.7px;
  }
}
@media screen and (max-width: 1459px) {
  html {
    font-size: 23.52px;
  }
}
@media screen and (max-width: 1446px) {
  html {
    font-size: 23.34px;
  }
}
@media screen and (max-width: 1434px) {
  html {
    font-size: 23.16px;
  }
}
@media screen and (max-width: 1421px) {
  html {
    font-size: 22.98px;
  }
}
@media screen and (max-width: 1408px) {
  html {
    font-size: 22.8px;
  }
}
@media screen and (max-width: 1395px) {
  html {
    font-size: 22.62px;
  }
}
@media screen and (max-width: 1382px) {
  html {
    font-size: 22.44px;
  }
}
@media screen and (max-width: 1370px) {
  html {
    font-size: 22.26px;
  }
}
@media screen and (max-width: 1357px) {
  html {
    font-size: 22.08px;
  }
}
@media screen and (max-width: 1344px) {
  html {
    font-size: 21.9px;
  }
}
@media screen and (max-width: 1331px) {
  html {
    font-size: 21.72px;
  }
}
@media screen and (max-width: 1318px) {
  html {
    font-size: 21.54px;
  }
}
@media screen and (max-width: 1306px) {
  html {
    font-size: 21.36px;
  }
}
@media screen and (max-width: 1293px) {
  html {
    font-size: 21.18px;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 21px;
  }
}
@media screen and (max-width: 1267px) {
  html {
    font-size: 20.82px;
  }
}
@media screen and (max-width: 1254px) {
  html {
    font-size: 20.64px;
  }
}
@media screen and (max-width: 1242px) {
  html {
    font-size: 20.46px;
  }
}
@media screen and (max-width: 1229px) {
  html {
    font-size: 20.28px;
  }
}
@media screen and (max-width: 1216px) {
  html {
    font-size: 20.1px;
  }
}
@media screen and (max-width: 1203px) {
  html {
    font-size: 19.92px;
  }
}
@media screen and (max-width: 1190px) {
  html {
    font-size: 19.74px;
  }
}
@media screen and (max-width: 1178px) {
  html {
    font-size: 19.56px;
  }
}
@media screen and (max-width: 1165px) {
  html {
    font-size: 19.38px;
  }
}
@media screen and (max-width: 1152px) {
  html {
    font-size: 19.2px;
  }
}
@media screen and (max-width: 1139px) {
  html {
    font-size: 19.02px;
  }
}
@media screen and (max-width: 1126px) {
  html {
    font-size: 18.84px;
  }
}
@media screen and (max-width: 1114px) {
  html {
    font-size: 18.66px;
  }
}
@media screen and (max-width: 1101px) {
  html {
    font-size: 18.48px;
  }
}
@media screen and (max-width: 1088px) {
  html {
    font-size: 18.3px;
  }
}
@media screen and (max-width: 1075px) {
  html {
    font-size: 18.12px;
  }
}
@media screen and (max-width: 1062px) {
  html {
    font-size: 17.94px;
  }
}
@media screen and (max-width: 1050px) {
  html {
    font-size: 17.76px;
  }
}
@media screen and (max-width: 1037px) {
  html {
    font-size: 17.58px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 17.4px;
  }
}
@media screen and (max-width: 1011px) {
  html {
    font-size: 17.22px;
  }
}
@media screen and (max-width: 998px) {
  html {
    font-size: 17.04px;
  }
}
@media screen and (max-width: 986px) {
  html {
    font-size: 16.86px;
  }
}
@media screen and (max-width: 973px) {
  html {
    font-size: 16.68px;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 16.5px;
  }
}
@media screen and (max-width: 947px) {
  html {
    font-size: 16.32px;
  }
}
@media screen and (max-width: 934px) {
  html {
    font-size: 16.14px;
  }
}
@media screen and (max-width: 922px) {
  html {
    font-size: 15.96px;
  }
}
@media screen and (max-width: 909px) {
  html {
    font-size: 15.78px;
  }
}
@media screen and (max-width: 896px) {
  html {
    font-size: 15.6px;
  }
}
@media screen and (max-width: 883px) {
  html {
    font-size: 15.42px;
  }
}
@media screen and (max-width: 870px) {
  html {
    font-size: 15.24px;
  }
}
@media screen and (max-width: 858px) {
  html {
    font-size: 15.06px;
  }
}
@media screen and (max-width: 845px) {
  html {
    font-size: 14.88px;
  }
}
@media screen and (max-width: 832px) {
  html {
    font-size: 14.7px;
  }
}
@media screen and (max-width: 819px) {
  html {
    font-size: 14.52px;
  }
}
@media screen and (max-width: 806px) {
  html {
    font-size: 14.34px;
  }
}
@media screen and (max-width: 794px) {
  html {
    font-size: 14.16px;
  }
}
@media screen and (max-width: 781px) {
  html {
    font-size: 13.98px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 13.8px;
  }
}
@media screen and (max-width: 755px) {
  html {
    font-size: 13.62px;
  }
}
@media screen and (max-width: 742px) {
  html {
    font-size: 13.44px;
  }
}
@media screen and (max-width: 730px) {
  html {
    font-size: 13.26px;
  }
}
@media screen and (max-width: 717px) {
  html {
    font-size: 13.08px;
  }
}
@media screen and (max-width: 704px) {
  html {
    font-size: 12.9px;
  }
}
@media screen and (max-width: 691px) {
  html {
    font-size: 12.72px;
  }
}
@media screen and (max-width: 678px) {
  html {
    font-size: 12.54px;
  }
}
@media screen and (max-width: 666px) {
  html {
    font-size: 12.36px;
  }
}
@media screen and (max-width: 653px) {
  html {
    font-size: 12.18px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 12px;
  }
}
